<div class="customer_status">
  <h1>Статус на вашата поръчка</h1>
  <img class="pizza-logo" src="http://patspizzaplus.com/wp-content/uploads/2014/02/pizzadelivery1pats.jpg" alt="pizza delivery">
  <hr class="status_separator">
  <p><% p order %></p>
  <div class="progress_container">
    <div class="status done">Приемане</div>
    <div class="status active">Приготвяне</div>
    <div class="status">Проверка на качеството</div>
    <div class="status">На път за адрес</div>
    <div class="status">Доставена</div>
  </div>
</div>

<script src="/scripts/update_customer.js" charset="utf-8" defer></script>
