<!-- customer view -->

<div class="wrapper">
  <header class="header">
    <div class="main-header">
      <h1>Pizza Rupy</h1>
    </div>
  </header>

  <main class="main">
    <div class="contact-form">
      <label for="name">Име:</label>
      <input type="input" name="name" id="name">
      <label for="name">Адрес:</label>
      <input type="input" name="address" id="address">
      <label for="name">Телефон:</label>
      <input type="phone" name="phone" id="phone">

      <button id="next-button">Напред</button>
    </div>

    <div class="pizzas-container">
      <div class="pizza-wrapper" id="1">
        <div class="pizza-image">
        </div>
        <div class="pizza-description">
          <p class="pizza-heading">МЕДИТЕРАНЕО</p>
          <hr class="pizza-heading-separator">
          <p class="pizza-ingredients">моцарела, доматен сос, пресни домати, зелени чушки, краве сирене, маслини                                 </p>
        </div>
        <div class="pizza-order">
          <button>Добави в количка</button>
        </div>
      </div>
    </div>

    <div class="order-review">
      <p>Some preview stuff here ..</p>

      <button id="order-pizza">Поръчай</button>
    </div>
  </main>
</div>