<!-- customer view -->

<div class="wrapper">
  <header class="header">
    <div class="main-header">
      <h1>Pizza Rupy</h1>
    </div>
  </header>

  <main class="main">
    <div class="contact-form">
      <label for="name">Име:</label>
      <input type="input" name="name" id="name">
      <label for="name">Адрес:</label>
      <input type="input" name="address" id="address">
      <label for="name">Телефон:</label>
      <input type="phone" name="phone" id="phone">

      <button class="next-button">Напред</button>
    </div>

    <div class="pizzas-form hidden"> 
      <div class="pizzas-container">
        <% pizzas[:pizzas].each do |pizza| %>
          <div class="pizza-wrapper" id="<%= pizza[1][:id] %>">
            <div class="pizza-image" style="background-image: url('<%= pizza[1][:image]%>')">
            </div>
            <div class="pizza-description">
              <p class="pizza-heading"><%= pizza[0] %></p>
              <hr class="pizza-heading-separator">
              <p class="pizza-ingredients"><%= pizza[1][:products].join ", " %></p>
            </div>
            <div class="pizza-order">
              <button>Добави в количка</button>
            </div>
          </div>
        <% end %>
      </div>
      <button class="next-button">Напред</button>
    </div>

    <div class="order-review hidden">
      <p>Some preview stuff here ..</p>

      <button id="order-pizza">Поръчай</button>
    </div>
  </main>
</div>