<div class="restaurant-orders">
  <div class="master-view">
    <ul class="orders-list">
      <li class="order-item order-title" >
        <span class="order-title">Поръчки</span>
      </li>
      <% orders.each do |order| %>
        <li class="order-item" data-order-id=<%= order.id %> >
          <span class="order-title">Поръчка <%= order.id %></span>
        </li>
      <% end %>

    </ul>
  </div>

  <div class="details-view">
    <!-- <h1>Информация за поръчката</h1>
    <hr class="status_separator">
    <div class="progress_container">
      <div class="status">Приемане</div>
      <div class="status">Приготвяне</div>
      <div class="status">Проверка на качеството</div>
      <div class="status">На път за адрес</div>
      <div class="status">Доставена</div>
    </div> -->
  </div>
</div>