<div class="restaurant-orders">
  <div class="master-view">
    <ul class="orders-list">
      <li class="order-item">
        <span class="order-title">Поръчка 1</span>
        <span class="order-id">></span>
    </li>
      <li class="order-item">
        <span class="order-title">Поръчка 1</span>
        <span class="order-id">></span>
      </li>
      <li class="order-item">
        <span class="order-title">Поръчка 1</span>
        <span class="order-id">></span>
      </li>

    </ul>
  </div>

  <div class="details-view">
    <!-- <h1>Информация за поръчката</h1>
    <hr class="status_separator">
    <div class="progress_container">
      <div class="status">Приемане</div>
      <div class="status">Приготвяне</div>
      <div class="status">Проверка на качеството</div>
      <div class="status">На път за адрес</div>
      <div class="status">Доставена</div>
    </div> -->
  </div>
</div>