<div class="restaurant-orders">
  <div class="master-view">
    <ul class="orders-list">
      <li class="order-item order-title" >
        <span class="order-title">Поръчки</span>
      </li>
      <% orders.each do |order| %>
        <li class="order-item" data-order-id=<%= order.id %> >
          <span class="order-title">Поръчка <%= order.id %></span>
          <span class="order-pizza">
            <%=
              result = ''
              pizzas.keys.each do |key|
                if pizzas[key].id == order.pizzaId
                  result = key
                end
              end
              result
            %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="details-view">
  </div>
</div>

<script src="/scripts/update_restaurant.js" charset="utf-8" defer></script>
