* {
    margin: 0;
    padding: 0;
}

html,
body,
.wrapper {
    height: 100%;
}

.header {
    height: 10%;
}

.main {
    height: 90%;
    display: flex;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#next-button {
    margin-top: 20px;
    height: 2rem;
}

.pizzas-container {
    display: flex;
    width: 100%;
    padding: 5%;
}

.pizza-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid black;
    height: 400px;
    justify-content: space-between;
}

.pizza-image {
    background-image: url('https://www.dominos.bg/gallery/fmobile/1314medium.png');
    height: 50%;
    background-size: cover;
}

.pizza-description {
    height: 40%;
    display: flex;
    flex-direction: column;
}

.pizza-order {
    padding: 5px 10px 5px 10px;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pizza-order button {
    width: 100%;
    height: 2rem;
    border: 1px solid black;
    background-color: white;
}

.pizza-heading-separator {
    width: 90%;
    align-self: center;
}

.pizza-heading {
    padding: 10px 0;
    text-align: center;
}

.pizza-ingredients {
    padding: 10px;
    text-align: center;
}
