* {
    margin: 0;
    padding: 0;
}

html,
body,
.wrapper {
    height: 100%;
}

.header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border-top: 2px dashed brown;
    border-bottom: 1px dashed brown;
    box-shadow: inset 0 -1px 0 0 brown, inset 0 1px 0 0 brown, 0 1px 0 0 brown, 0 -1px 0 0 brown;
    margin-bottom: 1px;
}

.main {
    height: 90%;
    display: flex;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 10%;
}

.next-button {
    margin-top: 20px;
    height: 2rem;
    width: 50%;
    align-self: center;
}

.pizzas-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 90%;
    overflow: scroll;
}

.pizza-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid black;
    height: 400px;
    margin-top: 5%;
    width: 200px;
    justify-content: space-between;
}

.pizza-image {
    // background-image: url('https://www.dominos.bg/gallery/fmobile/1314medium.png');
    height: 50%;
    background-size: cover;
}

.pizza-description {
    height: 40%;
    display: flex;
    flex-direction: column;
}

.pizza-order {
    padding: 5px 10px 5px 10px;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pizza-order button {
    width: 100%;
    height: 2rem;
    border: 1px solid black;
    background-color: white;
}

.pizza-heading-separator {
    width: 90%;
    align-self: center;
}

.pizza-heading {
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.pizza-ingredients {
    padding: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

.pizzas-form,
.order-review {
    flex-direction: column;
}

.order-input {
    height: 50px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    font-size: 24px;
}

.order-input-label {
    margin-top: 5%;
    text-align: center;
    font-size: 24px;
}

.review-container {
    display: flex;
    flex-direction: column;
}

.review-container span {
    margin-top: 5%;
    font-size: 24px;
}

.order-review {
    padding-top: 10%;
}

.order-review h2 {
    font-size: 3rem;
}

#order-pizza {
    height: 2rem;
    margin-top: 10%;
    font-size: 1rem;
}

.customer_status h1 {
    text-align: center;
}

.customer_status {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.progress_container {
    display: flex;
    justify-content: center;
    width: 95%;
}

.status {
    width: 20%;
    height: 100px;
    border: 1px solid black;
    margin-left: 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    cursor: pointer;
}

.pizza-logo {
    width: 400px;
    height: 300px;
}

.done {
    color: #2b7d2b;
    background-color: #B0FA6D;
}

.active {
    animation-duration: 1000ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation: blink 1000ms infinite;
    /* Safari and Chrome */
}

@keyframes blink {
    from {
        background-color: white;
    }
    to {
        background-color: #B0FA6D;
    }
}

@-webkit-keyframes blink {
    from {
        background-color: white;
    }
    to {
        background-color: #B0FA6D;
    }
}

.restaurant-orders {
    display: flex;
    height: 100%;
}

.master-view,
.details-view {
    width: 50%;
}

.master-view {
    border-right: 1px solid black;
}

.order-item {
    padding: 0 1rem;
    height: 48px;
    font-family: "72-Web", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-bottom: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.order-item.order-title {
    cursor: default;
}

.order-item > span {
    line-height: 3rem;
}

.order-pizza {
    text-transform: uppercase;
}

.active-list-item {
    background-color: #346187;
    color: white;
}

.details-view .progress_container {
    flex-direction: column;
    align-items: center;
}

.details-view .status {
    width: 50%;
}

.details-view {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.pizza-info-logo {
    width: 50%;
    height: 20%;
}

.details-view h1 {
    text-align: center;
}

.delivery-info-container {
    display: flex;
}

.delivery-info-container div {
    width: 50%;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
